/*** Global ***/


html, body{
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
	color:#7d868c;
    -webkit-text-size-adjust: 100%;
}


a{
	color:#229c82;
	transition:ease .2s;
	font-family:arial;
	text-decoration:none;
}

a:hover{
	color:red;
}

#clear{
	clear:both;
}


.button{
	background-color:#229c82;
	padding:0px 10px;
	border-radius:4px;
	text-transform:uppercase;
	color:white;
	display:inline-block;
	transition: .2s;
	line-height:36px;
	min-height:36px;
	min-width:110px;
	font-size:12px;
	text-align:center;
	margin:10px 0px;
	font-family:arial;
	text-decoration:none;
}



/*Header*/

.contentwrapper{
	width:1200px;
	margin:0 auto;
}


header{
	font-size:20px;
	position:fixed;
	width:100%;
	z-index:10;
	transition: .8s ease;
	padding-top:35px;
}


header #home{
	float:left;
	font-size:30px;
	padding-top:5px;
	font-family: 'Josefin Sans', sans-serif;
}

#mobilehome{
	display:inline;
}


header ul{
	padding-top:13px;
	text-align:right;
	font-size:17px;
}


header li{
	display: inline;
	list-style-type:none;
	text-decoration:none;
}


header a{
	color:white;
	transition: .8s ease;
	text-decoration:none;
	margin:0px 10px;
	font-family: 'Josefin Sans', sans-serif;
}

header a:hover{
  	transition: .8s ease;
	color:#229c82;
}


.scrolldown{
	background-color:rgba(255, 255, 255, 100);
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.13);
	padding:15px 0px;
}

.scrolldown a{
	color:gray;
	transition: .8s ease;

}

.scrollup{
	background-color:rgba(255, 255, 255, 0);
	padding:35px 0px;
}


.drawer{
	margin-bottom:25px;
	display:none;
}

.drawer img{
	float:left;
	width:22.8%;
	margin:1%;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);

}




/*Footer*/



footer{
	position: fixed;
    bottom: -10px;
    font-style:italic;
    width:100%;
    background-color:white;
    padding-bottom:20px;
    text-align:right;
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.13);
	color:gray;
}


footer img{
	 position:relative;
	 bottom:-8px;
	 padding:4px;
}

footer a{
	color:gray;
	text-decoration:none;
	font-family: 'Josefin Sans', sans-serif;
}


footer a:hover{
	color:#229c82;
}





/***  Index  ***/


.herosection{
	height:900px;
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-image: url("largehero.jpg");
}



.video-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
    background-repeat: repeat;
    height:900px;
    background-image: url("white-diagonal-lines-large.png");

}

.herosectioncopy{
	font-size:80px;
	position: absolute;
	top:360px;
  	color:white;
  	width:100%;
}

.herosectioncopy h1{
	font-size:115px;
	text-align:center;

}

.herosectioncopy p{
	font-size:60px;
	text-align:center;

}


.content{
	width:100%;
}

.content h1{
	width:100%;
	text-align:center;
	font-size:35px;
}


#work{
	padding:30px 0px 80px 0px;
}

#work h1{
	padding-bottom:15px;
}

.workcontainer{
	float:left;
}

#masterbox{
	width:50%;

}

.smallbox{
	width:45%;
	height:275px;
	margin:2% 2.5%;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);

}


.mediumbox{
	width:95%;
	height:275px;
	margin:2% 2.5%;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
}



.largebox{
	width:95%;
	height:575px;
	margin:2% 2.5%;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);

}

.boxtext{
	background-color:white;;
	width:95%;
	padding:0% 2.5%;
	height:25%;
	color:gray;
	transition:all ease .5s;

}

.boxtext h1{
	text-align:center;
	padding:27px 0px 0px 0px;
	background-color:white;

}

.boxtext p{
	font-family:arial;
	line-height:25px;
	text-align:center;
}


.boxtext a{
	text-decoration:none;
	margin-top:55px;
	text-align:center;
	width:50%;
}


.boximg{
	width:100%;
	height:75%;
	transition:all ease .5s;
	background-color:red;

}

.boximg img{
	width:100%;
	height:100%;
}


.boximg:hover{
	opacity:0.5;

}

.boximglink{
	background-color:red;
	height:50px;

}

#sencohome{
	background-image: url(sencohome.jpg);
}

#mccchome{
	background-image: url(mccchero.jpg);
}

#oorhome{
	background-image: url(oorhome.jpg);
}

#photographyhome{
	background-image: url(photographyhero.jpg);
}




#senco{
	background-image: url(sencohero.jpg);
}

#mccc{
	background-image: url(mccchero.jpg);
}

#oor{
	background-image: url(oorhero.jpg);
}

#photography{
	background-image: url(photographyhero.jpg);
}


#about{
	background-color:#F6F6F6;
	padding:80px 0px;
}

#about h2{
	font-size:45px;
	padding:0px 0px 20px 0px;
}

#about p{
	font-family:arial;
	font-size:20px;
	line-height:33px;
	width:87%;
}


.aboutleft{
	float:left;
	width:50%;
	
}

.aboutleft img{
	width:70%;
	padding:0 15%;
	max-width:400px;
}



.aboutright{
	float:left;
	width:50%;
}


#contact{
	text-align:center;
	padding:120px 0px;

}


#contact h2{
	font-size:45px;
	padding:0px 0px 20px 0px;
}

#contact p{
	font-size:20px;
	line-height:33px;
	font-family:arial;
	margin:0px auto;
	width:60%;
}


/*  Project  */


.workhero{
	height:500px;
}

.contentwork{
	background-color:white;
	width:100%;
	padding:10px 0px;

}

.contentwork h3{
	font-size:30px;
	padding-bottom:15px;

}


.contentwork p{
	width:90%;
	font-size:17px;
    line-height: 175%;
	font-family:arial;
	font-weight:100;

}

.contentwork a{
	text-decoration: none;
}


.left{
	float:left;
	width:50%;
	
}

.left img{
	width:70%;
	padding:0 15%;
	max-width:400px;
}



.right{
	float:left;
	width:50%;
}


.worknav{
	width:100%;
	background-color:#F6F6F6;
	height:50px;
	position:relative;
	top:-5px;

}

.worknav a{
	position:relative;
	top:1px;
	color:gray;
	font-weight:bold;
	text-decoration:none;
	font-family: 'Josefin Sans', sans-serif;
}

.worknav a:hover{
	color:#229c82;
}


.worknav img{
	position:relative;
	top:9px;
}

#floatright{
	float:right;
}

#floatleft{
	float:left;
}



#gray{
	text-align:left;
	background-color:#F5F5F5;
	padding:10px 0px;

}

#gray h3{
	text-align:left;
	padding-left:40px;
}

#gray p{
	text-align:left;
	padding-left:40px;
}


.leftside{
  width:40%;
  float:left;

}

.rightside{
	width:60%;
  float:left;
}



.workimage img{
	width:100%;
	
}


.photo{
	padding:25px 0px;

}

.photo h1{
	padding-top:10px;
	font-size:30px;

}

.photo img{
	width:100%;
}


.desktopspace{
	display:block;
}


.button{
	background-color:#229c82;
	padding:0px 10px;
	border-radius:4px;
	text-transform:uppercase;
	color:white;
	display:inline-block;
	transition: .2s;
	line-height:36px;
	min-height:36px;
	min-width:110px;
	font-size:12px;
	text-align:center;
	margin:10px 0px;
	font-family:arial;
	text-decoration:none;
}

.button:hover{
	background-color:darkgray;
	color:white;
}



/*** Quirks ***/






/*  Mobile  */


@media (max-width:1200px){


.herosectioncopy h1{
	color:blue;
}
	
	
.contentwrapper{
	width:90%;
	margin:0 auto;
}



	
} /** 1200 Styles **/



@media (max-width:750px){


header{
	padding:20px 0px 7px 0px;
}

header #home{
	float:left;
	font-size:20px;
	padding-top:5px;
	font-family: 'Josefin Sans', sans-serif;
}

#mobilehome{
	display:none;
}

header ul
{
	padding-top:8px;
	font-size:15px;
}


header a{
	margin:0px 5px;
	padding:6px;
}


.scrolldown{
	padding:10px 0px 7px 0px;
}

.scrollup{
	padding:20px 0px 7px 0px;
}


.herosection{
	height:475px;

}

.video-overlay{
    height:475px;
    background-image: url("white-diagonal-lines.png");
}

.herosectioncopy{
	top:135px;
  
}

.herosectioncopy h1{
	font-size:70px;
	color:red;
}


.herosectioncopy p{
	font-size:23px;
	text-align:center;
	padding-top:15px;

}
	
.contentwrapper{
	width:100%;
	margin:0 auto;
}


#masterbox{
	width:100%;
}



#about p{
	font-size:20px;
	line-height:25px;
	width:90%;
	padding:0% 5%;
}



.aboutleft{
	float:none;
	width:100%;
}

.aboutright{
	float:none;
	width:100%;
	text-align:center;
}


#contact{
	padding:75px 0px;
}


#contact p{
	font-size:20px;
	line-height:25px;
	width:90%;
	padding:0% 5%;
}


.workhero{
	height:215px;
}

.leftside{
	width:90%;
	padding:0% 5%;  
  float:none;

}

.rightside{
	width:90%;
	padding:0% 5%;  
  float:none;
}

.contentwork a{
	text-align:center;

}

.contentwork h3{
	text-align:left;

}


.contentwork p{
		text-align:left;
		width:100%;
}

#gray{
		text-align:center;
	background-color:#F5F5F5;

}

#gray h3{
	text-align:left;
	padding-left:1px;
}

#gray p{
	text-align:left;
	padding-left:1px;
}


.desktopspace{
	display:none;
}



footer{
	display:none;
}
	


} /** 500 Styles **/










